<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>资讯列表</title>
    <style>
        .col-xs-2 {
            /*width: 20%;*/
        }

        #layui-layer1 {
            left: 0px;
            width: 100%;
            background: white;
        }

        .inputWraper {
            overflow: hidden;
            display: block;
        }

        .layui-layer-title {
            padding-left: 100px !important;
        }

        .inputWraper {
            padding-left: 100px !important;
            margin: 10px 0;

        }
    </style>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;
    </span> 资讯管理 <span class="c-gray en">&gt;</span> 资讯列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新"><i
            class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
 <span class="c">
            <a class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i>添加学生
            </a>
        </span> 选择班级

        <span class="select-box inline">
		<select name="" class="selects">
			<option value="0">全部分类</option>
			<option value="C">语文老师</option>
			<option value="M">数学老师</option>
			<option value="E">英语老师</option>
			<option value="H">历史老师</option>
			<option value="G">地理老师</option>
		</select>
		</span>
        <input type="text" placeholder=" 资讯名称" style="width:250px" class="input-text">
        <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <div id="demo1"></div>
        <span class="r">共有数据：<strong>54</strong> 条</span>
    </div>
    <div class="mt-20">
        <table id="table-sort"
               class="table table-border table-sort table-bordered table-bg table-hover table-responsive">
            <thead>
            <tr class="text-c">
                <th width="60">员工号</th>
                <th width="60">姓名</th>
                <th width="40">年龄</th>
                <th width="40">科目</th>
                <th width="40">学历</th>
                <th width="40">性别</th>
                <th width="80">电话</th>
                <th width="60">薪资（月）</th>
                <th width="60">操作</th>
            </tr>
            </thead>
            <tbody class="tbody">

            <% if (data.length) { %>
            <% data.forEach(function(item){ %>
            <tr class="text-c">
                <td><%= item.employeeNo %></td>
                <td><%= item.employeeName %></td>
                <td><%= item.age %></td>
                <td><%= item.course %></td>
                <td><%= item.education %></td>
                <td><%= item.sex %></td>
                <td><%= item.tel %></td>
                <td><%= item.salary %>元</td>
                <td><span class="label label-success radius">操作</span></td>
            </tr>
            <% }) %>
            <% } %>
            </tbody>
        </table>
    </div>




</div>
<div class="layui-layer-shade" id="layui-layer-shade1" times="1"
     style="z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);display: none"></div>
<div class="layui-layer layui-layer-dialog  layer-anim" id="layui-layer1" type="dialog" times="1" showtime="0"
     contype="string" style="z-index: 19891015; top: 110.5px; left: 0px;display: none;">
    <div class="layui-layer-title" style="cursor: move;" move="ok">学生信息

        <span class="close" style="margin-left: 200px;font-size: 28px;float: right">&times;</span>

    </div>
    <form action="/articlelist/add" method="post" id="foo">
        <!--学号-->
        <div class="inputWraper">
            <label class="form-label col-xs-2 col-sm-0"><span class="c-red">*</span>学号：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" placeholder="" id="studentId" name="studentId">
            </div>
        </div>
        <!--姓名-->
        <div class="inputWraper">
            <label class="form-label col-xs-2 col-sm-0"><span class="c-red">*</span>姓名：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" id="name" name="name">
            </div>
        </div>
        <!--班级-->
        <div class="inputWraper">
            <label class="form-label col-xs-2 col-sm-0"><span class="c-red">*</span>班级：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" id="classes" name="classes">
            </div>
        </div>
        <!--年龄-->
        <div class="inputWraper">
            <label class="form-label col-xs-2 col-sm-0"><span class="c-red">*</span>年龄：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" id="age" name="age">
            </div>
        </div>
        <!--性别-->
        <div class="inputWraper">
            <label class="form-label col-xs-2 col-sm-0"><span class="c-red">*</span>性别：</label>

            <label class="form-label col-xs-2 col-sm-0">男：
                <input type="radio" name="sex" value="1" title="男">
            </label>
            <label class="form-label col-xs-2 col-sm-0">女：
                <input type="radio" name="sex" value="2" title="女" checked>
            </label>
        </div>
        <!--电话-->
        <div class="inputWraper">
            <label class="form-label col-xs-2 col-sm-0"><span class="c-red">*</span>电话：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" id="tel" name="tel">
            </div>
        </div>
        <!--住址-->
        <div class="inputWraper">
            <label class="form-label col-xs-2 col-sm-0"><span class="c-red">*</span>家庭地址：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" id="address" name="address">
            </div>
        </div>
        <!--学费-->
        <div class="inputWraper">
            <label class="form-label col-xs-2 col-sm-0"><span class="c-red">*</span>学费：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" id="tuition" name="tuition">
            </div>
        </div>
        <!--班主任-->
        <div class="inputWraper">
            <label class="form-label col-xs-2 col-sm-0"><span class="c-red">*</span>班主任：</label>
            <div class="formControls col-xs-4 col-sm-4">
                <input type="text" class="input-text" id="headmaster" name="headmaster">
            </div>
        </div>
        <span class="c"
              style="display: block;padding-left: 200px;margin-bottom: 100px;margin-left: 100px;margin-top: 30px">
            <!--<a class="btn btn-primary radius" id="sub">提交</a>-->
                    <input type="submit" class="btn btn-primary radius"  id="sub">

            <input type="text" name="grade" class="grade">
         </span>
    </form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    var dttable;
    var LocString = String(window.document.location.href)
    console.log(LocString.slice(-1))
    $(".grade").val(LocString.slice(-1))
    dttable= $('#table-sort').dataTable({
        "aaSorting": [[2, "desc"]],//默认第几个排序
        "bStateSave": false,//状态保存
        "paging": true,
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
//            {"orderable": true, "aTargets": [0, 8]}// 不参与排序的列
        ],
        ordering: false
    });

    $(".btn-primary ").click(function () {
        console.log(2232)
        $("#layui-layer-shade1").show()
        $("#layui-layer1").show()

    });
    $(".close").click(function () {
        $("#layui-layer-shade1").hide()
        $("#layui-layer1").hide()
    })
    $("#sub").click(function () {
        console.log(123);

        if (!$("#studentId").val()) {
            alert("学号不能为空")
            return false
        }

        if (!$("#name").val()) {
            alert("姓名不能为空")
            return false
        }

        if (!$("#classes").val()) {
            alert("班级不能为空")
            return false

        }

        if (!$("#age").val()) {
            alert("年龄不能为空")
            return false
        }

        if (!$("#tel").val()) {
            alert("电话不能为空")
            return false
        }
        if (!$("#address").val()) {
            alert("地址不能为空")
            return false
        }
        if (!$("#tuition").val()) {
            alert("学费不能为空")
            return false
        }
        if (!$("#headmaster").val()) {
            alert("班主任不能为空")
            return false
        }


    })
    $(".selects").change(function () {
        console.log(12)
        $.ajax({
            url: '/teacher',
            type: "GET",
            data: {
                course: $(".selects").find("option:selected").val(),
                th: LocString.slice(-1)
            },
            dataType: 'json',
            success: function (data) {

                if (data.status == "000000") {
                    console.log(data);
                    $(".tbody").empty()

                    var item = data.data
                    var str = ""
                    for (var i = 0; i < item.length; i++) {



                        str += `<tr class="text-c">
                        <td>${item[i].employeeNo}  </td>
                        <td>${item[i].employeeName}  </td>
                        <td>${item[i].age}  </td>
                        <td>${item[i].course } </td>
                        <td>${item[i].education}  </td>
                        <td>${item[i].sex} </td>
                        <td>${item[i].tel} </td>
                        <td>${item[i].salary} 元</td>
                            <td><span class="label label-success radius">操作</span></td>
                            </tr>`

                    }
                    $(".tbody").html(str)

                    if ($('#table-sort').hasClass('dataTable')) {
                        dttable = $('#table-sort').dataTable();
                        dttable.fnClearTable(); //清空一下table
                        dttable.fnDestroy(); //还原初始化了的datatable
                    }
                    $("#table-sort").find("tbody").html(str);
                    $('#table-sort').dataTable({
                        ordering: false
                    });
                }
            },
            error: function (err) {
            },
        });
    })
</script>
</body>
</html>